In [1]:
#Import SQLLite module

import sqlite3

In [2]:
#Create Movies database

conn = sqlite3.connect('database/imdbmovies.db')
c = conn.cursor()

In [3]:
#Create table ACTOR.
c.execute('''CREATE TABLE ACTOR
             ([imdb_id] varchar(12) PRIMARY KEY,[name] varchar(40), [credit] varchar(25), [gender] varchar(6), 
             [actor_id] varchar(12), [rank] INTEGER)''')

In [4]:
#Create table MOVIES.
#Columns: movie_id, title, description, language, length, rating, category
c.execute('''CREATE TABLE MOVIES ([imdb_id] varchar(12) PRIMARY KEY, [title] varchar(50), [released] varchar(6), 
          [runtime] varchar(12), [genre] varchar(100), [director] varchar(50), [writer] varchar(100), [actors] varchar(100), 
          [plot] varchar(100), [country] varchar(50), [awards] varchar(100), [metascore] INTEGER, [imdb_rating] FLOAT,
          [imdb_votes] INTEGER, [type] varchar(12), [box_office] FLOAT, [production] varchar(100), [rt_rating] INTEGER)''')

In [5]:
#Query data from a table
#A sample query below

c.execute("SELECT * FROM ACTOR")

rows = c.fetchall()

for row in rows:
    print(row)